<div id="owl-slider-image" class="owl-carousel owl-theme top-position">
    <div class="item"><img src="assets/images/slide_1.png" alt="Second slide"></div>
  <!--  <div class="item"><img src="assets/images/slide_2.png" alt="Second slide"></div>
    <div class="item"><img src="assets/images/slide_3.png" alt="Second slide"></div> -->
</div>
<!--
<script>
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        items:1,
        nav:true,
        dots:false,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true
      })
    });
  </script>
-->