<!--Form section-->
<div class="row mt-4 listcolor">
      



    <div class="card menuWidht" >
      <a href="#" class="list-group-item list-group-item-action listColor"><span><b>My Courses</b></span></a>
      <a href="#" class="list-group-item list-group-item-action listColor">

        <select class="selectpicker">
          <option>All Courses</option>
          <option>Java</option>
          <option>PHP</option>
          <option>.Net</option>
          <option>Angular</option>
        </select>
        

      </a>
    </div>
  






  <div class="card menuWidht1 ml-5">
    <!--start profile detail-->
      <div class="mt-2">
         <h4 style="float:left"><strong><span>All Courses</span></strong></h4>
         <form class="example" action="/action_page.php" style="margin:auto;max-width:300px;margin-right:-59px">
          <input type="text" placeholder="Search.." name="search2" style="margin-right:-13px">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

    

   
      





    
    
   
      <div class="card-deck">
   
    <!-- Card -->
<div class="card booking-card">

<!-- Card image -->
<div class="view overlay">
  <img class="card-img-top" src="assets/image_icon/img1.jpg" alt="Card image cap">
  <a href="#!">
    <div class="mask rgba-white-slight"></div>
  </a>
</div>

<!-- Card content -->
<div class="card-body">

 <!-- Title -->
    <h4 class="card-title font-weight-bold"><a>La Sirena restaurant</a></h4>
    <!-- Data -->
    
    <p class="mb-2">$ • American, Restaurant</p>
    <!-- Text -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <hr class="my-4">
    <span>Tonight's availability</span>
    
 
  <ul class="list-unstyled list-inline rating mb-0 float-right">
    
    <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
    <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
    <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
    <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
    <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
    <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
  </ul>
 <br/>
 <span style="float:right;padding-left:100px;">Your rating</span>
</div>

</div>
<!-- Card -->
<!-- Card -->
<div class="card booking-card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="assets/image_icon/img2.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title font-weight-bold"><a>La Sirena restaurant</a></h4>
    <!-- Data -->
    
    <p class="mb-2">$ • American, Restaurant</p>
    <!-- Text -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <hr class="my-4">
    <span>Tonight's availability</span>
    <ul class="list-unstyled list-inline rating mb-0 float-right">
      
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
      <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
    </ul>
   <br/>
   <span style="float:right;padding-left:100px;">Your rating</span>
  </div>

</div>
<!-- Card -->
<!-- Card -->
<div class="card booking-card">

  <!-- Card image -->
  <div class="view overlay">
      <img class="card-img-top" src="assets/image_icon/img3.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title font-weight-bold"><a>La Sirena restaurant</a></h4>
    <!-- Data -->
    
    <p class="mb-2">$ • American, Restaurant</p>
    <!-- Text -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <hr class="my-4">
    <span>Tonight's availability</span>
    <ul class="list-unstyled list-inline rating mb-0 float-right">
      
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
      <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
    </ul>
   <br/>
   <span style="float:right;padding-left:100px;">Your rating</span>
  </div>

</div>
<!-- Card -->
<!-- Card -->
<div class="card booking-card">

  <!-- Card image -->
  <div class="view overlay">
      <img class="card-img-top" src="assets/image_icon/img4.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title font-weight-bold"><a>La Sirena restaurant</a></h4>
    <!-- Data -->
    
    <p class="mb-2">$ • American, Restaurant</p>
    <!-- Text -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <hr class="my-4">
    <span>Tonight's availability</span>
    <ul class="list-unstyled list-inline rating mb-0 float-right">
      
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
      <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
      <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
    </ul>
   <br/>
   <span style="float:right;padding-left:100px;">Your rating</span>
  </div>

</div>
<!-- Card -->

    
</div>
   

</div>
    <!--start end profile detail-->
</div>