<div class="row mt-4 listcolor">
      



    <div class="card menuWidht" >
      <a href="#" class="list-group-item list-group-item-action listColor"><span><b>Account</b></span></a>
      <a href="#" class="list-group-item list-group-item-action listColor">Profile and Visibility</a>
      <a href="#" class="list-group-item list-group-item-action listColor" >Email</a>
      <a href="#" class="list-group-item list-group-item-action listColor">Security</a>
      <a href="#" class="list-group-item list-group-item-action listColor">Account Preference</a>
      <a href="#" class="list-group-item list-group-item-action listColor">Concept Apps</a>
      <a href="#" class="list-group-item list-group-item-action listColor">Products</a>
    </div>
  






  <div class="card menuWidht1 ml-5">
    <!--start profile detail-->
      <div class="mt-2">
         <h4><strong><span>Profile and Visibility</span></strong></h4>
         <strong><span>Profile photo and header image</span></strong> 
      </div>

    <div class="card   mb-3 mt-2 maxwidth" >
      <div class="card-header cardYellow">
          <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <img class="img-profile  profile_image" src="assets/image_icon/avtar1.jpeg">
           </a>

      </div>
      <div class="card-body float-right ">
        <i class="fa fa-exclamation-circle exclamation-icon" aria-hidden="true"></i>
        <span class="card-title textright">Who can see your profile?</span><br/>
        <nav class="navbar navbar-expand-sm textright">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse fauser floatrighttext" id="navbar-list-4">
            <ul class="navbar-nav anyonedropdown1">
              <li class="nav-item dropdown">
                <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i><span class="card-text ml-1">Choose Anyone</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Anyone</a>
                  <a class="dropdown-item" href="#">Only you and your tutor</a>

                </div>
              </li>   
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div>
      
      <strong><span>About you</span></strong> 
   </div>

    <div class="card  mb-3 maxwidth">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-5">
            
                <p class="card-title"><strong>Full Name</strong></p>
                <p class="card-text">John Doe</p>

                <p class="card-title"><strong>Public Name</strong></p>
                <p class="card-text">John</p>

                <p class="card-title"><strong>Based In</strong></p>
                <p class="card-text">Your Location</p>

                <p class="card-title"><strong>Location Time</strong></p>
                <p class="card-text">You have not set your time zone yet</p>

                

                
              
          </div>
          <div class="col-sm-5 text-right">
            
            <p class="card-title">Who can see this?</p>
            <!-- dropdown start1-->
            <nav class="navbar navbar-expand-sm">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse fauser" id="navbar-list-4">
                <ul class="navbar-nav anyonedropdown1">
                  <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user" aria-hidden="true"></i><span class="card-text ml-1">Choose Anyone</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Anyone</a>
                      <a class="dropdown-item" href="#">Only you and your tutor</a>

                    </div>
                  </li>   
                </ul>
              </div>
            </nav>
            
            <nav class="navbar navbar-expand-sm anyoneleft">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse fauser mt-4" id="navbar-list-4">
                <ul class="navbar-nav anyonedropdown1">
                  <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user" aria-hidden="true"></i><span class="card-text ml-1">Choose Anyone</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Anyone</a>
                      <a class="dropdown-item" href="#">Only you and your tutor</a>

                    </div>
                  </li>   
                </ul>
              </div>
            </nav>
              
            <nav class="navbar navbar-expand-sm anyoneleft">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse fauser mt-5" id="navbar-list-4">
                <ul class="navbar-nav anyonedropdown1">
                  <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user" aria-hidden="true"></i><span class="card-text ml-1">Choose Anyone</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Anyone</a>
                      <a class="dropdown-item" href="#">Only you and your tutor</a>

                    </div>
                  </li>   
                </ul>
              </div>
            </nav>

            <nav class="navbar navbar-expand-sm anyoneleft">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse fauser mt-5" id="navbar-list-4">
                <ul class="navbar-nav anyonedropdown1">
                  <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user" aria-hidden="true"></i><span class="card-text ml-1">Choose Anyone</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Anyone</a>
                      <a class="dropdown-item" href="#">Only you and your tutor</a>

                    </div>
                  </li>   
                </ul>
              </div>
            </nav>

            


          <div class="col-sm-1 justify-content-center">
            </div>
          </div>
          
        </div>
          </div>
    </div>
    <div>
      
      <strong><span>Contact</span></strong> 
   </div>

   <div class="card  mb-3 maxwidth">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
          
              <p class="card-title"><strong>Email Address</strong></p>
              <p class="card-text">john123@gmail.com</p>

              <p class="card-title"><strong>Mobile Number</strong></p>
              <p class="card-text">9888665544</p>
              
            
        </div>
        <div class="col-sm-5 text-right">
          
          <p class="card-title">Who can see this?</p>
          <!-- dropdown start1-->
          <nav class="navbar navbar-expand-sm">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fauser " id="navbar-list-4">
              <ul class="navbar-nav anyonedropdown1">
                <li class="nav-item dropdown">
                  <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i><span class="card-text ml-1">Choose Anyone</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Anyone</a>
                    <a class="dropdown-item" href="#">Only you and your tutor</a>

                  </div>
                </li>   
              </ul>
            </div>
          </nav>
          
          <span></span>
          <nav class="navbar navbar-expand-sm anyoneleft">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fauser mt-5" id="navbar-list-4">
              <ul class="navbar-nav anyonedropdown1">
                <li class="nav-item dropdown">
                  <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i><span class="card-text ml-1">Choose Anyone</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Anyone</a>
                    <a class="dropdown-item" href="#">Only you and your tutor</a>

                  </div>
                </li>   
              </ul>
            </div>
          </nav>
            
        <div class="col-sm-1 justify-content-center">
          </div>
        </div>
        
      </div>
        </div>
  </div>
   
    
    
   


    <!--start end profile detail-->
    
  </div>
    </div>