
<footer class="container-fluid theme-color text-white" style="border-top: 3px solid theme-color;">
    <div class="container theme-color">   <!-- Start Footer Container -->
      <div class="row py-3 theme-color">    <!-- Start Footer Row -->
        <div class="col-md-6 theme-color">      <!-- Start Footer 1st Column -->
          <div>
            <span>Follow Us: </span>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f px-3"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter pr-3"></i></a>
            <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"><i class="fab fa-instagram pr-3"></i></a>
            <a href="https://www.linkedin.com/login" target="_blank"><i class="fab fa-linkedin"></i></a>
            
          </div>
        </div>    <!-- End Footer 1st Column -->

        <div class="col-md-6 text-right">   <!-- Start Footer 2nd Column -->
          <small> @2020 Lacza <a href="#" target="_blank">Terms of Uses</a> <a href="#" target="_blank">Privacy Policy</a> </small>
        </div>    <!-- End Footer 2nd Column -->
      </div>    <!-- End Footer Row -->
    </div>    <!-- End Footer Container -->
  </footer>
  