
    <div class="top-positionLogin">
        <div class="col-md-12">
          <div class="form-wrapper ">
             <div class="submit-form shadow-lg p-3 mb-5  rounded">
                     <form class="text-center  p-5" action="#">
                  <p class="h3 mb-5 text-white text-decorate">Welcome!</p>
                     <!-- Email -->
                    <div class="input-container">
                      <input type="email" id="defaultSubscriptionFormPassword" class="form-control" placeholder="Email">
                    </div>
                      <!-- Mobile -->
                    <div class="input-container">
                      <i class="fa fa-lock lock-icon" aria-hidden="true"></i>
                      <input type="number" id="defaultSubscriptionFormEmail" class="form-control pr-4 mb-4" placeholder="Mobile">
                    </div>
                     <!-- Sign in button -->
                     <button type="button" class="btn btn-info btn-rounded form-control  mb-2" style="font-size:16px;color:white">Login</button>
                     <span style="font-size:16px;color:white">or use </span><br/>
                     <button type="button" class="btn btn-info btn-rounded mt-2 mb-2"><a href="" target="_blank"><i class="fab fa-facebook-square iconColor"></i></a><span>Login with Facebook</span></button><br/>
                     <span style="font-size:16px;color:white">or use </span><br/>
                     <button type="button" class="btn btn-info btn-rounded mt-2" style="font-size:16px;color:white"><a href="" target="_blank"><i class="far fa-envelope iconColor"></i></a><span>Login with Gmail</span></button>
                 
               </form> 
                  </div>
          </div>
        </div>
      </div>
   