<div class="top-positionLogin">
    <div class="col-md-12">
      <div class="form-wrapper ">
         <div class="submit-form shadow-lg p-3 mb-5  rounded">
                 <form class="text-center  p-5" action="#">
              <p class="h3 mb-2 text-white text-decorate">Verify your mobile!</p>
                
                  <!-- Password -->
                <div class="input-container">
                  <i class="fa fa-lock lock-icon" aria-hidden="true"></i>
                  <input type="number" id="defaultSubscriptionFormEmail" class="form-control pr-4 mb-4" placeholder="Enter your OTP">
                </div>
                 <!-- Sign in button -->
                <button type="button" class="btn btn-info btn-rounded form-control  mb-2">Verify</button>
                
           </form> 
              </div>
      </div>
    </div>
  </div>