

<section class="cmspage mtb-40 top-position">
    <div class="container">
      <h2>Our Services</h2>
      <div class="page-desc">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        
    </div>
    </div>
</section>




<div class="text-center border-bottom mt-5 mb-3"> 

    <div class="row mt-4">
      <div class="col-sm-4 mb-4">
        <a href="#"><i class="fab fa-android fa-10x text-success"></i></a>
        <h4 class="mt-4">Android Application</h4>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="#"><i class="fas fa-desktop fa-10x text-primary"></i></a>
        <h4 class="mt-4">Web Application</h4>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="#"><i class="fas fa-database fa-10x text-info"></i></a>
        <h4 class="mt-4">Database</h4>
      </div>
    </div>
      
  </div>   